<!DOCTYPE html>
<head>
    <link rel="stylesheet"  href="./css/style.css">
    <title> About </title>
    <link rel="icon" href="/pictures/weather.png">
</head>
<body>
  <div class="main-content">
        {{>header}}
        <p>This website is created by Pawan Kumar.<br> It uses data from OpenWeatherMap.org </p>
        <br>
        <img class="portrait" src="/pictures/PHOTO.jpg" alt="image">
        <br>
        <br>
        <a href="https://github.com/pawanfaujdar"> GitHub</a>
        <a href="https://www.linkedin.com/in/pawan-kumar-40a567201/"> LinkedIn</a>
    </div>
      {{>footer}}
</body>
</html>