<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>FORM Submitted</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="/pictures/weather.png">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Form Submitted Successfully</p>
    </div>

    {{>footer}}

</body>
</html>